<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>GifVJ</title>
    <%= stylesheet_link_tag "bootstrap" %>
    <%= stylesheet_link_tag "jquery.autocomplete" %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" %>
    <%= javascript_include_tag "jquery.extension" %>
    <%= javascript_include_tag "jquery.autocomplete" %>
    <%= javascript_include_tag "jquery-ujs" %>
    <%= javascript_include_tag "bootstrap-modal" %>
    <%= javascript_include_tag "gif" %>
    <%= javascript_include_tag "gifvj" %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <nav>
      <a href="http://gif-vj.tumblr.com/" target="_blank">Tumblr</a>
      -
      <a href="#about" class="about" data-toggle="modal">About</a>
    </nav>
    <div id="about" class="modal fade hide">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h2>About GifVJ</h2>
      </div>
      <div class="modal-body">
        <p>You can VJ with GIF animation of Tumblr</p>
        <p>The app ported from <%= link_to "http://bimyoo.tumblr.com/post/16857625080/gifvj1-0-processing-gifvj", "http://bimyoo.tumblr.com/post/16857625080/gifvj1-0-processing-gifvj", target: "_blank" %></p>
        <h3>How to use</h3>
        <dl>
          <dt>enter</dt>
          <dd>start / stop animation</dd>
          <dt>j/→</dt>
          <dd>next frame (only when stopping)</dd>
          <dt>k/←</dt>
          <dd>previous frame (only when stopping)</dd>
          <dt>r</dt>
          <dd>reverse playback</dd>
          <dt>space</dt>
          <dd>rhythm synchronization</dd>
          <dt>y/u/i/o/p</dt>
          <dd>select animation block</dd>
          <dt>1-9</dt>
          <dd>select animation</dd>
          <dt>?</dt>
          <dd>show this</dd>
        </dl>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
